<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>macskák</title>
</head>
<body>
  <form method="post">
    <p>
      Szem szín: <input type="text" name="szem_szin">
    </p>
    <p>
      Súly: <input type="number" name="suly">
    </p>
    <p>
      <input type="submit" value="Új macska">
  </p>
  </form>

  <a href="/">Vissza</a>

</body>
</html>
